body{background-color:#ffe6e6}
h1{background-color:#ff33ff;color:#e6f2ff;font-family:verdana}
h2{background-color:#cce6ff;color:#c65353;font-family:verdana}
div{background-color:#ffcc99;color:white;font:georgia}
p{background-color:##4da6ff;color:#ffcccc}