body{background-color:#70db70;}
h1{background-color: #ffb366;color:#ff6666;font-family:verdana}
h2,th{background-color:#ffff1a;color:#c65353;font-family:verdana}
tr{background-color:#ffcc99;color:red;font:georgia}
p{background-color:#ff1a66;color:#66b3ff}
td{background-color:#ffb3b3;color:white}
